<nav aria-label="{{label}}" class="nsw-breadcrumb">
  <ol class="nsw-breadcrumb__list">
    {{#each breadcrumbItems}}
      <li class="nsw-breadcrumb__item">
        <a href="{{url}}" class="nsw-breadcrumb__link">{{text}}</a>
      </li>
    {{/each}}
    <li class="nsw-breadcrumb__item">
      <a href="{{url}}" class="nsw-breadcrumb__link nsw-breadcrumb--current" aria-current="page">{{pageTitle}}</a>
    </li>
  </ol>
</nav>
